@media only screen and (min-width: 300px) and (max-width: 800px){
/* ------------------------------------------------------------------------- */
    body{
        padding: 20px 25px;
    }

    h1{
        font-size: 12px;
        white-space: nowrap;
    }

    p{
        font-size: 8px;
    }
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
    /* navbar starts here */
.logo{
    font-size: 12px;
    margin-right: 100px;
}

.navbar-item h1{
    font-size: 12px;
    margin: 0px;
}

.navbar-items{
    gap: 10px;
}

.cv{
    background-color: white;
    color: var(--accent-color);
    padding: 0px 0px;
    border-radius: 0px;
}
/* navbar ends here */
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* banner section starts here */

.main-section h1{
    font-size: 18px;
    margin: 0px 0;
}

.red-star{
    height: 12px;
}

.main-section p{
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.main-section{
    margin-top: 20px;
}

.name-main{
    gap: 8px;
}

#banner{
    font-size: 28px;
}

#name-font{
    font-size: 28px;

}
/* banner section ends here */

/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* skill section starts here */
.skill-parent{
    gap: 10px;
}

.skill-parent div h1{
    font-size: 10px;
    margin-bottom: 10px;
}

/* button section */
.full-button{
    gap: 10px;
    width: 110px;
    height: 25px;
    padding-left: 0px;
    padding-right: 20px;
    border-radius: 50px;
    margin-bottom: 8px;
}


.port-button{
    height: 19px;
    width: 55px;
    gap: 5px;
    padding: 0px 5px;  
    margin-left: 3px;
}

.portfolio-txt{
    font-size: 10px;
}

.hire-button h1{
font-size: 10px;
}

.fa-arrow-up-right-from-square{
    font-size: 6px;
    margin-bottom: 10px;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* social media */
.all-socials{
    gap: 10px;
    font-size: 12px;
    padding: 0px 5px;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* profile */
.both-side{
    gap: 60px;
}

.right-side img{
    width: 140px;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */

/* line thingy */
.line-parent{
    gap: 10px;
    padding: 8px 0px;
    width: 570px;
    overflow: hidden;
    white-space: nowrap;
    
}
.line-parent{
    position: absolute;
    top: 42%;
    left: -2.1%;
    transform: rotate(-2deg);
}

.line-parent h1{
    font-size: 12px;
    font-weight: 300;
    color: white;
}

.line-parent img{
    width: 12px;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* about me */

.about-me{
    margin-top: 80px;
    width: 500px;
}

.about-me h1{
    font-size: 18px;
}

.about-me p{
    font-size: 10px;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* experience */
.stars{
    margin-top: 45px;
    gap: 5px;
    font-size: 12px;
}

.all-star h1{
    font-size: 18px;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* experience section */
.experience-left h1{
    margin: 0;
    font-size: 18px;
}

.experience-left p{
    margin: 0;
    font-size: 10px;
}

.time{
    display: flex;
    justify-content: space-between;
}

.experience-right h1{
    margin-top: 0px;
}

.experience-both{
    margin: 0px 0;
    padding: 40px 40px;
    overflow: hidden;
    width: 475px;
    top: 520px;
}

hr{
    border: 1px solid var(--accent-color);
}

/* ------------------------------------------------------------------------- */






}