@media only screen and (min-width: 300px) and (max-width: 800px){
/* ------------------------------------------------------------------------- */
    body{
        padding: 20px 25px;
    }

    h1{
        font-size: 12px;
        white-space: nowrap;
    }

    p{
        font-size: 8px;
    }
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
    /* navbar starts here */
.logo{
    font-size: 12px;
    margin-right: 100px;
}

.navbar-item h1{
    font-size: 12px;
    margin: 0px;
}

.navbar-items{
    gap: 10px;
}

.cv{
    background-color: white;
    color: var(--accent-color);
    padding: 0px 0px;
    border-radius: 0px;
}
/* navbar ends here */
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* banner section starts here */

.main-section h1{
    font-size: 18px;
    margin: 0px 0;
}

.red-star{
    height: 12px;
}

.main-section p{
    font-size: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.main-section{
    margin-top: 20px;
}

.name-main{
    gap: 8px;
}

#banner{
    font-size: 28px;
}

#name-font{
    font-size: 28px;

}
/* banner section ends here */

/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* skill section starts here */
.skill-parent{
    gap: 10px;
}

.skill-parent div h1{
    font-size: 10px;
    margin-bottom: 10px;
}

/* button section */
.full-button{
    gap: 10px;
    width: 110px;
    height: 25px;
    padding-left: 0px;
    padding-right: 20px;
    border-radius: 50px;
    margin-bottom: 8px;
}


.port-button{
    height: 19px;
    width: 55px;
    gap: 5px;
    padding: 0px 5px;  
    margin-left: 3px;
}

.portfolio-txt{
    font-size: 10px;
}

.hire-button h1{
font-size: 10px;
}

.fa-arrow-up-right-from-square{
    font-size: 6px;
    margin-bottom: 10px;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* social media */
.all-socials{
    gap: 10px;
    font-size: 12px;
    padding: 0px 5px;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* profile */
.both-side{
    gap: 60px;
}

.right-side img{
    width: 140px;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */

/* line thingy */
.line-parent{
    gap: 10px;
    padding: 8px 0px;
    width: 570px;
    overflow: hidden;
    white-space: nowrap;
    
}
.line-parent{
    position: absolute;
    top: 42%;
    left: -2.1%;
    transform: rotate(-2deg);
}

.line-parent h1{
    font-size: 12px;
    font-weight: 300;
    color: white;
}

.line-parent img{
    width: 12px;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* about me */

.about-me{
    margin-top: 80px;
    width: 500px;
}

.about-me h1{
    font-size: 18px;
}

.about-me p{
    font-size: 10px;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* experience */
.stars{
    margin-top: 45px;
    gap: 5px;
    font-size: 12px;
}

.all-star h1{
    font-size: 18px;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* experience section */
.experience-left h1{
    margin: 0;
    font-size: 18px;
}

.experience-left p{
    margin: 0;
    font-size: 10px;
}

.time{
    display: flex;
    justify-content: space-between;
}

.experience-right h1{
    margin-top: 0px;
}

.experience-both{
    margin: 0px 0;
    padding: 40px 40px;
    overflow: hidden;
    width: 475px;
    top: 520px;
}

hr{
    border: 1px solid var(--accent-color);
}

/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* awards */

.awards{
    margin-top: 300px;
    margin-bottom: 50px;
    margin-left: 150px;
}

.awards p{
    font-size: 10px;
}


/* award1 */
.award1{
    gap: 200px;
}


.award-desc{
    padding-right: 0px;
}

.award-main1{
    height: 100px;
    width: 475px;
}

/* award2 */

.award2{
    gap: 120px;
}

.award-desc2{
    padding-right: 0px;
}

.award-main2{
    height: 100px;
    width: 475px;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* my projects */
.p-txt{
    font-size: 10px;
}
.my-projects{
    margin-left: 150px;
    margin-top: 0px;
}

/* project buttons */
.all-buttons{
    gap: 10px;
    margin-top: 20px;
    margin-left: 180px;
}

.all-buttons h1{
    font-size: 12px;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* port setcions */
/* port one */
.port-img img{
    width: 300px;
}

.port-txt h2{
    text-align: center;
    font-size: 10px;
    margin: 0px 0;
}

.port-txt h1{
    text-align: center;
    font-size: 18px;
}

.port-txt p{
    text-align: center;
    font-size: 10px;
}

.port-txt{
    margin-left: 50px;

}

.both-port{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 100px;
    padding: 0px 0px;
    gap: 20px;
}

/* port two */

.img2 img{
    width: 300px;
}


.port2{
    position: absolute;
    top: 335%;

}

.img2{
    position: absolute;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* contact */
.contact{
    
    margin-top: 580px;
    margin-left: 50%;
}

.contact h1{
    margin: 0;
    margin-bottom: 0px;
}

/* extra  line */

.extra-line h1{
    margin: 0;
    font-size: 18px;
}

.extra-line{
    margin-left: 55%;
    padding: 0px 20px;
    margin-bottom: 40px;
}

/* contact form */

.name-email input{
    font-size: 12px;
    width: 150px;
    border-bottom: 1px solid var(--accent-color);
}

.name-email {
    gap: 100px;
    margin-bottom: 20px;
}

.contact-form{
    padding: 20px 20px;
    width: 480px;
    margin-bottom: 50px;

}

.message input{
    font-size: 12px;
    height: 80px;
    width: 450px;
}

.custom-file-upload {
    font-size: 12px;
    height: 20px;
    margin-left: 240px;

}

.got-project h1{
    padding-right: 0px;
    margin-bottom: 50px;
    
}


.parent-btn{
    display: flex;
    width: 700px;
    
}

.submit-btn button{
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 120px;
    margin-bottom: 20px;
}
/* ------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------- */
/* footer */

.footer-container{
    height: 180px;
    width: 360px;
    left: 0px;
    padding: 80px 100px;
}

.footer-logo{
    font-family: poppins, arial;
    margin: 20px 0px;
}


.footer-container-sub{
    width: 100%;
    position: absolute;
    top: 0px;
}

.footer-bottom{
    height: 200px;
    width: 100%;
    padding: 10px 0px;
    margin: 0;
    position: absolute;
    top: 340px;
}

.all-socials{
    margin: 30px 0px;
}


.footer-bottom h1{
    font-family: rubik, arial;
    color: var(--background-color);
    margin: 0;
}
/* ------------------------------------------------------------------------- */






}